extends ../base

block content
    if(errormessage)
        span=errormessage
    form(method="POST")
        input(placeholder="Old password" ,type="password", name = "oldPassword")
        input(placeholder="New password" ,type="password", name = "newPassword")
        input(placeholder="New password Confirm" ,type="password", name = "newPassword2")
        input(type="submit", value="Change Password") 